@import "variables";

.registration {
    &__container {
        display: flex;
        margin-top: 64px;
        margin-bottom: 96px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
    
    }
    &__title {
        color: $fontMineColor;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    &__input {
        width: 360px;
        height: 45px;
        flex-shrink: 0;
        background-color: #fff;
        border: 1px solid $lightenedColor;
        padding-left: 17px;
        color: #B1B1B1;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    &__gender {
        display: flex;
        gap: 10px;
        margin-top: 31px;
        margin-bottom: 33px;
    }
    &__note {
        color: #B1B1B1;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    &__button {
        width: 167px;
        height: 50px;
        flex-shrink: 0;
        background-color: $fontColor;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: 1px solid $fontColor;
    }
    &__button-image {
        margin-right: 20px;
    }
    &__button:hover {
        background-color: #fff;
        color: $fontColor;
    }
    &__info {
        margin-left: 128px;
    }
    &__info-title {
        color: $fontMineColor;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 22px;
    }
    &__info-text {
        color: $fontMineColor;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 21px;
    }
    &__info-list {
        padding-bottom: 16px;
        color: $fontMineColor;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}

ul {
    display: inline;
    
}

input[type=radio] {
    accent-color: $fontColor;
}